*{
    padding: 0px;
    margin: 0px;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
}

.header, .footer{
    display: flex;
    justify-content: center;
    border: 2px solid red;
}

.header{
    display: flex;
    justify-content: space-around;
}

.main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 250px);
    column-gap: 15px;
    row-gap: 30px;
}

.book-card{
    height: 200px;
    margin: 10px;
    padding: 10px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}